
<link rel="icon" href="https://media.discordapp.net/attachments/939526295434444850/939841449564962836/logo.png" type="image/png">

 <nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
        <div class="scrollbar-inner">
            <div class="sidenav-header  align-items-center">
                <a class="navbar-brand" href="javascript:void(0)">
                <img src="https://cdn.discordapp.com/attachments/939868719507718165/939868840781840424/moon.png" id="mode"
                    <img src="https://media.discordapp.net/attachments/939526295434444850/939841449564962836/logo.png" class="navbar-brand-img" alt="Brand Icon here">
                </a>
            </div>
            <div class="navbar-inner">
                <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard">
                                <i class="ni ni-tv-2 text-primary"></i>
                                <span class="nav-link-text">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/create">
                                <i class="fas fa-plus text-green"></i>
                                <span class="nav-link-text">Create Server</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/servers">
                                <i class="fas fa-server text-purple"></i>
                                <span class="nav-link-text">Servers</span>
                            </a>
                        </li>
                        </li><% if (settings.api.arcio["afk page"].enabled == true) { %>
                          <li class="nav-item">
                            <a class="nav-link" href="/afk">
                                <i class="fas fa-coins text-yellow"></i>
                                <span class="nav-link-text">AFK</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/gift">
                                <i class="fas fa-gift text-primary"></i>
                                <span class="nav-link-text">Gift Reasources</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/j4r">
                                <i class="fas fa-car text-aqua"></i>
                                <span class="nav-link-text">J4R</span>
                            </a>
                        </li>
                        <% } %>
                        <li class="nav-item">
                            <a class="nav-link" style="cursor:pointer;" data-toggle="modal"
                                data-target="#modal-notification">
                                <i class="fas fa-key text-orange"></i>
                                <span class="nav-link-text">Password Reset</span>
                            </a>
                        </li>
                        <% if (settings.api.client.coins.store.enabled == true) { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/store">
                                <i class="fas fa-store text-blue"></i>
                                <span class="nav-link-text">Store</span>
                            </a>
                        </li>
                        <% } %>
                        <% if (pterodactyl.root_admin == true) { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">
                                <i class="fas fa-user-shield text-red"></i>
                                <span class="nav-link-text">Admin</span>
                            </a>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Modal Password Warning -->

        <div class="modal fade" id="modal-notification" tabindex="-1" role="dialog" aria-labelledby="modal-notification"
            aria-hidden="true">
            <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
                <div class="modal-content bg-gradient-danger">

                    <div class="modal-header">
                        <h6 class="modal-title" id="modal-title-notification">Your are about to Reset your Password!
                        </h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>

                    <div class="modal-body">

                        <div class="py-3 text-center">
                            <i class="ni ni-bell-55 ni-3x"></i>
                            <h4 class="heading mt-4">Are you sure?</h4>
                            <p>WARNING: Pressing "Okay, Reset Password" will reset your panel password and you will need
                                to login to the panel again. Only reset your password if you really need to reset it.
                            </p>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <a href="/regen"><button type="button" class="btn btn-white">Okay, Reset Password</button></a>
                        <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal">Go
                            Back</button>
                    </div>

                </div>
            </div>

            <!-- Modal Password Warning END-->
    </nav>
    <div class="main-content" id="panel">
        <nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <% if (settings.api.client.coins.enabled == true) { %>
                    <button type="button" class="btn btn-default">
                        <span>Your coins</span>
                        <span class="badge badge-primary"><%= coins %></span>
                    </button>
                    <% } %>
                    <% if (req.session.newaccount || req.session.password) { %>
                    <% if (req.session.newaccount) { %>
                    <div class="alert alert-default alert-dismissible fade show" role="alert">
                        <span class="alert-icon"><i class="fas fa-plus-circle"></i></span>
                        <span class="alert-text"><strong>Congratulations!</strong> A new account has been created for
                            you on the Pterodactyl Panel</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <% } %>
                    <% if (req.session.password) { %>
                    <div class="alert alert-success">
                        <span>Your <% if (!req.session.newaccount) { %>new <% } %>password is
                            <code><%= req.session.password %></code>! Make sure to keep this password in a safe
                            place</span>
                    </div>
                    <div class="alert alert-default alert-dismissible fade show" role="alert">
                        <span class="alert-icon"><i class="ni ni-like-2"></i></span>
                        <span class="alert-text"><strong><%= req.session.password %></strong> is the password to your
                            pterodactyl account.</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <% } %>
                    <% } %>
                    <!-- Navbar links -->
                    <ul class="navbar-nav align-items-center  ml-md-auto ">
                        <li class="nav-item d-xl-none">
                            <!-- Sidenav toggler -->
                            <div class="pr-3 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin"
                                data-target="#sidenav-main">
                                <div class="sidenav-toggler-inner">
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item d-sm-none">
                            <a class="nav-link" href="#" data-action="search-show" data-target="#navbar-search-main">
                                <i class="ni ni-zoom-split-in"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
                        <li class="nav-item dropdown">
                            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <div class="media align-items-center">
                                    <span class="avatar avatar-sm rounded-circle">
                                        <img alt="Avatar"
                                            src="https://cdn.discordapp.com/avatars/<%= req.session.userinfo.id%>/<%= req.session.userinfo.avatar%>.jpg?size=1024">
                                    </span>
                                    <div class="media-body  ml-2  d-none d-lg-block">
                                        <span
                                            class="mb-0 text-sm  font-weight-bold"><%= req.session.userinfo.username%>#<%= req.session.userinfo.discriminator %></span>
                                    </div>
                                </div>
                            </a>
                            <div class="dropdown-menu  dropdown-menu-right ">
                                <a href="/logout" class="dropdown-item">
                                    <i class="ni ni-user-run"></i>
                                    <span>Logout</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>